<!DOCTYPE html>

<html>
    <head>        <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This Site was created by Swaroop. It uses data from mapbox.com and dart.com</p>
            <img src="/images/swaroop.png" alt="My Picture">
        </div>
        
        {{>footer}}
    </body>
</html>